.App {
  text-align: center;
}

body{
  background-color: #F0EBD8;
}



#header {
  margin-right: 0;
  width: 100%;
}


#footer {
  position: relative;
  width: 100%;
  z-index: 2;
}

.formcss{
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 600px;
  border-style: solid;
  border-color: black;
  border-radius: 100px;
}

.navbar-brand{
  font-size: 30px;
  color: black;
  float: right;
}
.navbar-brand1{
  float: left;
  font-size: 30px;
  color: black;
}
